
div
{
    background-color: linear-gradient(90deg, hsl(193, 9%, 79%) 0px, hsl(193, 43%, 54%) 50px);
    outline: 2px solid rgb(27, 231, 0);
}
a
{
    outline: 2px solid rgb(27, 231, 0);
}
p
{
    font-family: sans-serif;
    font: Arial;
}

/* Navbar ============================================== */ 

.navbar-title
{
    position: fixed;
    width: 100%;
    left: 0px;
    top: 0px;
    font-size: 25px;
    color: white;
    text-align: center;
}
navbar a
{
    text-decoration: none;
    color: inherit;
}
navbar div
{
    background-color: rgba(100, 100, 100, 1);
    color: white;
    font-family: sans-serif;
    font: Arial;
    font-size: 15px;
}
.navbar-menu
{
    display: flex;
    text-align: center;
}
.navbar-menu-item
{
    height: 20px;
    padding-top: 5px;
}
.navbar-menu-item:hover
{
    background-color:  rgba(80, 80, 80, 1);
    transform: scale(1.1);
}
#left-third { width: 33%; }
#middle-third { width: 34%; }
#right-third { width: 33%; }

/* ===================================================== */ 

/* Main Body =========================================== */ 

#body-container
{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 4%;
    height: 20in;
}

/* ===================================================== */ 