
a
{
    text-decoration: none;
    color: inherit;
}
div
{
    font-family: sans-serif;
    font: Arial;
    font-size: 15px;
    outline: 2px solid rgba(0, 0, 100, 1);
}
.navbar
{
    font-size: 25px;
    color: white;
    background-color: rgba(0, 0, 0, .5);
    text-align: center;
}
.navbar-menu
{
    color: white;
    display: flex;
    text-align: center;
}
.navbar-menu-item
{
    height: 20px;
    padding-top: 5px;
}
.navbar-menu-item:hover
{
    background-color: rgba(0, 0, 0, .2);
}
#first 
{  
    width: 33%;
}
#second
{
    width: 34%
}
#third
{
    width: 33%;
}
